@model IEnumerable<Prueba_Tecnica_CNBS.Models.Liq>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cliqdop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliqeta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mliq)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mliqgar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dlippay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clipnomope)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cliqdop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliqeta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mliq)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mliqgar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dlippay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clipnomope)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Iliq">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Iliq">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Iliq">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
